.splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  background: url('../../assets/img/bg-estilo-cuatro.png') no-repeat bottom center;
}

.splash-logo img {
  width: 120px;
  animation: fadeIn 1.5s ease-in-out infinite;
}


@keyframes fadeIn {
  0%, 100% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    opacity: 0.5;
  }
}