
<div class="register-content">
  <h1>¡Estás muy cerca de formar parte de Ride!</h1>
  <p>¿Ya te has registrado? <a [routerLink]="['/p-main-carga']">Ingresar</a></p>

  <div class="form-group">
    <label for="matricula">Matrícula</label>
    <input type="text" id="matricula" class="form-input" />
  </div>

  <div class="form-group">
    <label for="nombre">Nombre</label>
    <input type="text" id="nombre" class="form-input" />
  </div>

  <div class="form-group">
    <label for="apellidos">Apellidos</label>
    <input type="text" id="apellidos" class="form-input" />
  </div>

  <div class="form-group">
    <label for="contrasena">Contraseña</label>
    <input type="password" id="contrasena" class="form-input" />
  </div>

  <button class="custom-button">Continuar</button>
</div>
